* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}


:root {
  --sidebar: #3b6196; /* Dark Slate */
  --content: #9ba7be; /* Light Gray */
  --annparab: #c5ab8e; /* Amber */
  --text: #374151; /* Slate Gray */
  --header: #88a4cf; /* Blue */
}

img {
  height: 40px;
  border-radius: 50%;
}

.container {
  display: grid;
  grid-template-columns: 1fr 3.7fr;
  grid-template-rows: 1fr 3fr;
  height: 100vh;
}


.sidebar {
  grid-row-start: 1;
  grid-row-end: -1;
  display: grid;
  grid-template-rows: 1fr 2fr 9fr;
  background-color: var(--sidebar);
  color: white;
}

.branding {
  display: flex;
  padding-left: 5%;
  align-items: center;
  width: 100%;
  padding-top: 25px;
}

.fa-tachometer {
  font-size: xxx-large;
}

.branding > h1 {
  font-size: 2em;
  display: flex;
  align-items: center;
  font-weight: 800;
}

.navigation > ul > li, .user-management > ul > li {
  padding-left: 15%;
  font-size: x-large;
  padding-bottom: 20px;
}

.icon {
  padding-right: 20px;
}

.navigation > ul:first-child, .user-management > ul:first-child {
  padding-top: 20%;
}


.header {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr 1fr;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: var(--header);
}

.search-icon {
  padding-right: 3%;
}

#search-bar {
  width: 70%;
  height: 35%;
  border: none;
  background-color: var(--content);
  border-radius: 25px;
}

.search-bar {
  display: flex;
  justify-content: center;
  align-items: center;
}



.name {
  margin-left: 10px;
}

.notification-icon {
  padding-right: 20px;
}

.username {
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bolder;
}

.greeting {
  display: grid;
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 1fr 3fr;
}

.profile-pic-g {
  grid-row-start: 1;
  grid-row-end: -1;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: -15px;
  margin-top: -5px;
}


.greeting-hi {
  font-size: small;
  margin-left: -25px;
  margin-top: 6px;
}

.greeting-name {
  font-weight: bolder;
  margin-left: -25px;
  font-size: x-large;
}

.header-buttons {
  display: flex;
  margin-top: 10px;
}

.header-buttons > button {
  margin-right: 25px;
  width: 90px;
  height: 35px;
  border-style: none;
  border-radius: 20px;
  background-color: var(--sidebar);
  color: white;
}

.header-buttons > button:last-of-type {
  margin-right: 90px;
}

.main-content {
  display: grid;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  height: 100vh;
  background-color: var(--content);
  height: auto
  
  ;
}


.projects {
  grid-row-start: 1;
  grid-row-end: 3;
}

.projects-div {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(3, 1fr);
  height: 93%;
  width: 100%;
}

.project-para {
  color: var(--text);
}

.projects-heading, .projects-div {
  padding-left: 20px;
}

.projects-heading, .project-heading, .announcements-heading, .announcement-head, .trending-heading {
  font-weight: 600;
}

.projects-heading, .announcements-heading, .trending-heading {
  padding-top: 20px;
  padding-bottom: 7px;
}

.announcements, .trending  {
  padding-left: 10px;
  padding-right: 20px;
}

.trending-div, .announcements-div {
  width: 250px;
}

.announcement-para {
  padding-bottom: 10px;
  border-bottom: 1px solid var(--text);
  font-size: smaller;
  margin-bottom: 10px;
  color: var(--text);
}

.announcements-div, .trending-div {
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1), 0 2px 4px -1px rgba(0, 0, 0, 0.06);
  background-color: var(--header);
  border-radius: 8px;
  padding: 20px 20px;
}

.project {
  padding: 20px;
}

.projects-heading {
  padding-bottom: 5px;
}

#project {
  background-color: var(--header);
}

.project-icons {
  position: relative;
  top: 35%;
  left: 78%;
}

.p-icon {
  padding-left: 8px;
  cursor: pointer;
}

.trending-users {
  display: grid;
  grid-template: 1fr 1fr / 1fr 3fr;
  padding-bottom: 10px;
  font-size: small;
}

.trend-pp {
  grid-row-start: 1;
  grid-row-end: 3;
  display: flex;
  align-items: center;
  margin-right: 5%;
}

.trending-username {
  display: flex;
  align-items: flex-end;
}

.trending-username > p {
  font-weight: 550;
}

.trending-bio {
  color: var(--text);
}